################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/C# winform/payment/.vs
/C# winform/payment/payment/obj/Debug/net6.0-windows
/C# winform/pre-payment/.vs/prj_parking
/C# winform/pre-payment/pre-payment/bin/Debug
/C# winform/pre-payment/pre-payment/obj/Debug
